include ../../pug/vars

footer.footer
	.case
		.footer__title КурсМастер | Разрабатываем онлайн-курсы
		.footer__contacts
			.footer__socials.socials
				.socials__list.row
					a.socials__item(href="" target="_blank")
						img(src="uploads/whatsapp-gray.png" alt="")
						img(src="uploads/whatsapp-black.png" alt="")
					a.socials__item(href="" target="_blank")
						img(src="uploads/telegram-gray.png" alt="")
						img(src="uploads/telegram-black.png" alt="")
			.footer__phone  #[a(href="tel:+74994905750") 8 (499) 490-57-50] 
		.footer__policy Оставляя контакты в формах на сайте, вы даете #[a(href="javascript:;" data-src="#modal-policy" data-fancybox="") согласие на обработку своих персональных данных]
		