@import ../../sass/vars

.button
	z-index: 1
	position: relative
	display: flex
	align-items: center
	justify-content: center
	text-align: center
	cursor: pointer
	font-size: $fzMain
	font-family: $ffMain
	overflow: hidden
	border: none
	background-color: transparent
	transition: .3s
	outline: none
	border-bottom: none
	&.--bg-gold
		background: #E8D6BF
		&:hover
			background: darken(#E8D6BF, 10%)
	&.--bg-black
		color: #fff
		background: $black
		&:hover
			background: lighten($black, 5%)
	&.--round
		border-radius: 50px
	&.--md
		font-size: $fzMain
		height: 45px
		font-weight: 700
	&.--lg
		font-size: 18px
		height: 50px
		font-weight: 700
	&.--lgg
		font-size: 23px
		height: 65px
		font-weight: 700

@media screen and (max-width: 1280px)
	.button
		&.--lgg
			font-size: 20px

@media screen and (max-width: 1080px)
	.button
		&.--lg
			font-size: 16px
		&.--lgg
			font-size: 18px
