.button {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-family: "Museo Sans Cyrl", sans-serif;
  overflow: hidden;
  border: none;
  background-color: transparent;
  transition: 0.3s;
  outline: none;
  border-bottom: none;
}
.button.--bg-gold {
  background: #E8D6BF;
}
.button.--bg-gold:hover {
  background: #dbbe99;
}
.button.--bg-black {
  color: #fff;
  background: #343434;
}
.button.--bg-black:hover {
  background: #414141;
}
.button.--round {
  border-radius: 50px;
}
.button.--md {
  font-size: 16px;
  height: 45px;
  font-weight: 700;
}
.button.--lg {
  font-size: 18px;
  height: 50px;
  font-weight: 700;
}
.button.--lgg {
  font-size: 23px;
  height: 65px;
  font-weight: 700;
}